<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather</ion-title>

    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Location -->
  <div style="display: flex; align-items: center;">
    <h1 style="margin: 0;"><b>{{ weatherData?.name }}, {{ weatherData?.sys?.country }}</b></h1>
    <img [src]="'https://openweathermap.org/img/wn/' + weatherData?.weather[0]?.icon + '.png'" alt="Weather icon">
  </div>


  <!-- Weather Info-->
  <!-- https://stackoverflow.com/questions/42069234/force-2-decimal-places-precision-in-ion-input -->
  <p><b>Temperature:</b> {{ weatherData?.main?.temp - 273.15 | number:'1.2-2' }} °C</p>
  <p><b>Humidity:</b> {{ weatherData?.main?.humidity }} %</p>
  <p><b>Pressure:</b> {{ weatherData?.main?.pressure }} hPa</p>
  <p><b>Wind Speed:</b> {{ weatherData?.wind?.speed }} m/s</p>
  <p><b>Wind Direction:</b> {{ weatherData?.wind?.deg }}°</p>

  <!-- Weather condition -->
  <!-- https://stackoverflow.com/a/49298340 -->
  <p><b>Weather Condition:</b> {{ weatherData?.weather[0]?.description | titlecase }}</p>

  <!-- Visibility -->
  <p><b>Visibility:</b> {{ weatherData?.visibility / 1000 }} km</p>

  <!-- Clouds (percentage of cloud coverage) -->
  <p><b>Clouds:</b> {{ weatherData?.clouds?.all }} %</p>

</ion-content>
