<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkyBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkyBuddy</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Body -->
  <div id="homeInfo">
    <h1 class="title">Welcome to SkyBuddy</h1>
    <p>The home of all your weather stats.</p>
    <p>Simply enter a city to get the latest weater information.</p>

    <!-- Search Bar -->
    <ion-searchbar class="searchbar" [(ngModel)]="city" placeholder="Enter a City"></ion-searchbar>

    <!-- Search Button -->
    <ion-button class="searchButton" (click)="searchWeather()">Search Weather</ion-button>
  </div>

</ion-content>
