<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkyBuddy</ion-title>

    <!-- Info/Help Button -->
    <ion-buttons slot="end">
      <ion-button (click)="goToInfoGuide()" style="background-color: green; border-radius: 10px; color: white;">Info Guide</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkyBuddy</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Body -->
  <div id="homeInfo">
    <h1 class="title">Welcome to SkyBuddy</h1>
    <p>The home of all your weather stats.</p>
    <p>Simply enter a city to get the latest weater information</p>
    <p>or click use GPS to get the weather based on your coorindates.</p>

    <!-- Get weather info using city search -->
    <ion-searchbar class="searchbar" [(ngModel)]="city" placeholder="Enter a City"></ion-searchbar>
    <ion-button class="searchButton" (click)="searchWeather()" [disabled]="!city">Search Weather</ion-button>

    <!-- Get weather info using your coorindates -->
    <ion-button (click)="getGPS()">Use GPS</ion-button> 
    
  </div>

</ion-content>
